html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 300px;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

label {
  display: block
}

h1 {
  text-align: center;
}

.intro {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

form {
  margin-bottom: 10px;
}

legend {
  padding-top: 10px;
  padding-bottom: 10px;
}

.orText {
  text-align: center;
  display: block;
  background-color: #fff;
  padding: 5px;
  margin: 0 auto;
  margin-top: -30px;
  left: 45%;
  position: absolute;
}

.indent {
  margin-left: 15px;
}

.alert {
  display: block;
  border: 2px solid #000;
  padding: 5px;
  margin: 2px;
}

#msg-txt {
  width: 85%;
  display: inline-block;
  margin: 2px;
}

#msg-txt span {
  font-weight: bold;
}

.msg-button {
  width: 9%;
  display: inline-block;
  vertical-align: top;
}

.close {
  padding: 2px 5px;
  border: 2px solid #000;
}

.error {
  background-color: #F2D7D5;
}

.success {
  background-color: #A9DFBF;
}

#custom-range label {
  padding-top: 5px;
  padding-bottom: 10px;
}

button[type="submit"] {
  display: block;
  padding: 5px;
  margin: 5px auto;
}

.disable-extension {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.display-none {
  display: none;
}
